{% extends "layout_template.html" %}
{% block content %}






	{% for post in posts %}
	<article class="media content-section">
		<div class="media-body">
			<h2><a href="{{ url_for('recipe', recipe_id=post.id) }}">{{ post.title }}</a></h2>

			<div class="article-metadata">
				Posted by <a class="mr-2" href="{{ url_for('user', user_id=post.user_id) }}">{{ post.user.fullname }}</a> on 
				<small class="text-muted">{{ post.formatted_date }}</small>
			</div>
		</div>
	</article>
	{% endfor %}
{% endblock content %}
