{% extends "layout_template.html" %}
{% block content %}	
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata p-3 mb-2">
				<h2> Recipes by {{ user.fullname }}</h2>
			</div>

			{% for recipe in user.recipies %}
				<div class="article-metadata">
					<h3><a href="{{ url_for('recipes.recipe', recipe_id=recipe.id) }}">{{ recipe.title }}</a></h3>
					Posted on <small class="text-muted">{{ recipe.formatted_date }}</small>
				</div>
			{% endfor %}
		</div>
	</article>
{% endblock content %}
