body {
	background-color: #c9bcb2;
	color: #000000;
	font-family: Arial, sans-serif;
	margin-top: 4rem;
}

h1, h2, h3, h4, h5, h6, a {
	color: #2B114B;	
}

p {
	color: #2B114B;
}

.bg-steel {
	background-color: #c5a48b;
}

.navbar-brand {
	color: #2B114B;
}

.site-header .navbar-nav .nav-link {
	color: #2B114B;
}

.site-header .navbar-nav {
	color: #2B114B;
}

.site-header a.navbar-brand:hover,
.site-header a.nav-item.nav-link:hover {
    color: #fff;
}


.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #c5a48b;
	padding: 10px 20px;
	margin-bottom: 20px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.article-title {
	color: #2B114B;
}

a.article-title:hover {
	color: #112A46;
	text-decoration: none;
}

a:hover {
	color: #112A46;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #112A46;
}

.article-metadata a:hover {
	color: #112A46;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.recipe-img {
	height: 300px;
	width: 300px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

.custom-btn {
    padding: 2.5px 5px;
    font-size: 12px;
}

 .recipe-grid {
	display: grid;
	margin-top: 15px;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
 }
 
 .recipe-card {
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-out;
  }
  
  .recipe-card:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	transform: translateY(-10px);
  }
  
  .homepage-container {
	height: 100vh;
	position: relative;
 }
 
 .homepage {
	height: 100vh;
	width: 100%;
	background-image: url('cover.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	z-index: -1;
   }
   
   .overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 20px;
 }
 
   
.recipe-grid {
	position: relative;
}


.features {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.feature {
	display: flex;
	justify-content: center;
	gap: 20px;
	text-align: center;
	margin: 20px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-out;
	border-radius: 15px;
 }

.feature:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	transform: translateY(-10px);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about {
    text-align: center;
    padding: 40px 0;
}

.team {
    list-style: none;
    padding: 0;
}

.team li {
    display: inline;
    margin-right: 10px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
   }

.carousel-inner img {
    height: 400px;
    width: auto;
 }
 
 .fixed-button {
   position: fixed;
   top: 4px;
   right: 10px;
}
