body {
	background: #e5e5e9;
	color: #333333;
	margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6, a {
	/* color: #444444; */
	/* color: #167607; */
	color: #0c3b2e;
	
}

.bg-steel {
	/* background-color: #5f788a; */
	/* background-color: #167607; */
	background-color: #0c3b2e;
}

.site-header .navbar-nav .nav-link {
	/* color: #cbd5db; */
	color: #ECFFDC;;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
	
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #fcfcf7;
	padding: 10px 20px;
	/* border: 1px solid #dddddd; */
	border: 1px solid #0c3b2e;
	border-radius: 3px;
	margin-bottom: 20px;
}

.article-title {
	color: #444444;
}

a.article-title:hover {
	/* color: #428bca; */
	/* color: #167607; */
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #444444;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	/* border-bottom: 1px solid #e3e3e3 */
	border-bottom: 1px solid #0c3b2e;;
}

.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.recipe-img {
	height: 300px;
	width: 300px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

.custom-btn {
    padding: 2.5px 5px;
    font-size: 12px;
}

#carouselExample {
    height: 400px; /* Set a fixed height for the carousel */
  }

.carousel-inner {
    height: 100%; /* Make the carousel-inner fill the entire height of the carousel */
  }

.carousel-item {
    height: 100%; /* Make the carousel items fill the entire height of the carousel-inner */
  }

.carousel-item img {
    width: 100%; /* Make the images fill the entire width of the carousel items */
    height: 100%; /* Make the images fill the entire height of the carousel items */
    object-fit: cover; /* Ensure the entire image is covered without distortion */
}

.carousel-inner img {
    height: 400px; /* Set the height to the desired value */
    width: auto; /* Maintain the aspect ratio */
 }
